<div>
  <p>
    Chart goes here

  </p>
  <div id="chartContainer" style="width:800px; height:475px"></div>
  <button (click)="initChart()">Next Chart</button>
  <button (click)="advanceChart()">Advance</button>
  <button *ngIf="!activePosition" (click)="buy()">Buy</button>
  <button *ngIf="!activePosition" (click)="short()">Short</button>
  <button *ngIf="activeShort" (click)="buyToCover()">Buy to Cover</button>
  <button *ngIf="activeLong" (click)="sellToClose()">Sell to Close</button>
</div>
<!--<sd-portfolio [accountValue]="accountValue"></sd-portfolio>-->
<div class = "portfolio">
  <div>
  <h1>Portfolio</h1>
  <p>
    Worth: ${{ accountValue }}
  </p>
  <p>
    Profit: <span *ngIf="profit != null">{{ profit }}%</span>
  </p>
  <p >
    Entry Price: <span *ngIf="entryPrice != 0">{{ entryPrice }}</span><br>
    Current Price: <span *ngIf="currentPrice !=0">{{ currentPrice }}</span>
  </p>
  </div>
</div>